<div class="col-10 offset-1 about">
    <h1>About Splurty</h1>

    <p>
      This page was built by <a target="_blank" href="http://github.com/jrcolmenero">Rebekah</a> a web developer on a mission to turn ideas into reality.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Rebekah Colmenero</h2>
      <br />
      <p>
        Rebekah Colmenero is on her way to becoming a web developer. 
      </p>
    </div>
  </div>
</div>

<br class="class" />
<br />
<br />
<br />
<br />
