@font-face {
font-family: 'Acherus Grotesque Regular';
font-style: normal;
font-weight: normal;
src: local('Acherus Grotesque Regular'), font_url('acherus_grotesque_-_regular.woff') format('woff');
}


@font-face {
font-family: 'Acherus Grotesque Regular Italic';
font-style: normal;
font-weight: normal;
src: local('Acherus Grotesque Regular Italic'), font_url('acherus_grotesque_-_regular_italic.woff') format('woff');
}